@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #f7f7f7;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------ NAVBAR ----- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1;
}

.brand-title img {
    height: 60px;
}

.brand-title img:hover {
    height: 80px;
    transition: 2s;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    /* color: black; */
    padding: 1.5rem;
    display: block;
}

.navbar-links li a:hover {
    color: orange;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
}

@media screen and (max-width: 460px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        color: white;
    }

    .navbar-links a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        background-color: rgb(94, 93, 93);
    }
}

/* ----- Section 1 ----- */

.section-1 {
    padding: 10rem 3rem;
    width: 100%;
    background-image: url("../img/tYzGkE.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.section-1-content {
    width: 85%;
    margin: auto;
    position: relative;
    top: 40%;
}

.section-1-content h1,
h5 {
    color: rgb(250, 250, 250);
}

@media screen and (min-width: 768px) {
    .section-1-content h1 {
        font-size: 45px;
    }

    .section-1-content h5 {
        font-size: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .section-1-content {
        margin-top: 5rem;

        top: 20%;
    }

    .section-1-content h1 {
        font-size: 55px;
    }

    .section-1-content h5 {
        font-size: 35px;
    }
}

/* ----- section 2 ------ */

.section-2 {
    background-image: url("../img/background2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 8rem 1rem;
}

.section-2-content {
    width: 85%;
    margin: auto;
    position: relative;
    top: 20%;
}

.section-2-content h2,
p,
button {
    text-align: justify;
}

.section-2-content h2 {
    line-height: 40px;
}

.section-2-content p {
    margin: 20px 0;
    font-size: 10px;
}

.section-2-content button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #f7f7f7;
    background-color: orange;
    margin: 20px 5px;
}

.section-2-content button a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;
}

.section-2-content a {
    display: inline-block;
    width: 100%;
    padding: 7px 0;
}

.buttons {
    text-align: center;
}

.section-2-content button:hover {
    background-color: #f7f7f7;
    transition: 0.5s;
}

.section-2-content a:hover {
    color: orange;
    transition: 0.5s;
}

.contact-form {
    text-align: center;
}

.form {
    margin: 20px auto;
    padding-top: 10px;
    background-color: rgb(243, 160, 7);
    border-radius: 10px;
    border: 1px solid white;
    max-width: 334px;
}

.form-box {
    margin: 10px auto;
}

.form-box input {
    padding: 5px 8px;
    border: none;
    border-radius: 6px;
    margin: 10px auto;
}

@media screen and (min-width: 425px) {
    .section-2-content h2 {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {

    .section-2-content h2 {
        font-size: 30px;
        text-align: center;
    }

    .section-2-content p {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .section-2-content h2 {
        font-size: 40px;
    }
}

/* ----- Section 3 ------- */

.section-3 {
    background-color: #f7f7f7;

    color: black;
    text-align: center;
    padding: 2.5rem 2rem
}

.icon-container {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.icon {
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.icon img {
    margin-top: 15px;
}

.icon-container p {
    font-size: 12px;
    text-align: center;
}

.icon p {
    margin-left: -6px;
}

.icon:hover {
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "security coin buying"
            "mobile-app coin wallet"
            "insurance coin exchange";
    }

    .security {
        grid-area: security;
    }

    .security-container {
        margin-right: -30px;
    }

    .mobile-app {
        grid-area: mobile-app;
    }

    .mobile-container {
        margin-left: -30px;
    }

    .insurance {
        grid-area: insurance;
    }

    .buying {
        grid-area: buying;
    }

    .wallet {
        grid-area: wallet;
    }

    .wallet-container {
        margin-right: -30px;
    }

    .exchange {
        grid-area: exchange;
    }

    .exchange-container {
        margin-left: -30px;
    }

    .coin {
        align-self: center;
        grid-area: coin;
    }

    .icon-container {
        flex-direction: row;
        justify-content: flex-start;
    }

    .column-1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 768px) {
    .container {
        gap: 45px 0px;
    }
}

@media screen and (max-width: 425px) {
    .icon-big img {
        width: 150px;
    }
}

/* ------ Section 5 --------- */

.section-5 {
    padding: 80px 15px 30px;
    color: black;
}

.cards {
    padding: 30px 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    max-width: 290px;
    margin: 10px auto 40px;
}

.cards:hover {
    border: 1px solid orange;
}


.price-heading {
    margin-bottom: 50px;
}

.price-heading h2 {
    text-align: center;
}

.data ul {
    list-style: none;
}

.data ul li {
    line-height: 40px;
}

.data ul li:before {
    content: '✓';
    padding: 0 10px;
}

.premium ul li:before {
    content: 'X';
    padding: 0 10px;
}

.data ul {
    padding-top: 25px;
    margin-bottom: 20px;
}

.data ul li {
    text-align: justify;
    padding: 0 30px;
}

.price-content a {
    height: 40px;
    padding: 8px 21px;
    color: white;
    background-color: orange;
    text-decoration: none;
    border: 2px solid orange;
    display: inline-block;
}

.price-content a:hover {
    background-color: white;
    color: orange;
    transition: 0.5s;
}

.price-header {
    border-bottom: 1px solid rgba(190, 190, 190, 0.671);
}

.price-header h3 {
    color: orange;
    font-weight: 600;
}

.price-cost p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.price-cost span {
    font-size: 12px;
    font-weight: 400;
}

@media screen and (min-width: 650px) {
    .cards-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }

    .premium ul {
        padding: 0;
    }
}

@media screen and (max-width: 649px) {
    .data ul li {
        line-height: 25px;
    }

    .cards {
        max-width: 240px;
    }

    .data ul {
        padding-top: 10px;
        margin-bottom: 15px;
    }

    .premium ul {
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    .data ul li {
        line-height: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .cards {
        padding: 5px 10px;
    }
}

/* ------ Section 4 Form ------ */

.section-4 {
    padding: 3.5rem 1.2rem 1rem;
    background-color: #bc6c25;
}

.form-container {
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem;
}

.form-container:hover {
    border: 2px solid black;
}

.sec-4-header h2,
p {
    margin: 15px auto;
}

.reg-data-cont input {
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-radius: 6px;
}

.reg-email label,
input {
    margin: 20px auto;
}

.reg-checkbox {
    margin: 15px 0 25px 0;
}

.reg-checkbox input {
    margin: 0;
}

.reg-button {
    margin: 12px auto;
}

.reg-button button {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.reg-button button a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    padding: 7px 0 9px;
    border-radius: 5px;
}

.reg-button a:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
}

.sec-4-cont {
    border-radius: 5px;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .sec-4-cont {
        width: 350px;
        margin: auto;
    }
}

/* ----- Footer ----- */

footer {
    color: white;
    background-color: black;
    padding: 1rem 1.2rem;
    ;
}

.ftr-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.ftr-container h2,
h3 {
    margin: 1rem auto;
}

.ftr-1 {
    padding: 1rem 2.5rem;
}

.ftr-2 {
    padding: 1rem 2.5rem;
}

.ftr-newsletter {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ftr-newsletter input {
    height: 40px;
    margin: 0;
}

.ftr-newsletter button {
    width: 101px;
    height: 37px;
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: orange;
}

.ftr-newsletter button a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 10px 35px;
    border-radius: 5px;
}

.ftr-newsletter button:hover {
    background-color: white;
    transition: 0.5s;
}

.ftr-newsletter a:hover {
    color: orange;
    transition: 0.5s;
}

.ftr-2 {
    margin-bottom: 1rem;
}

.ftr-contact-social ul li {
    display: inline-block;
    border: 1px solid white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: .2rem;
    border-radius: 50%;
}

.ftr-contact-social ul li:hover {
    background-color: orange;
    border: 1px solid orange;
}

.ftr-bottom {
    border-top: 1px solid orange;
    width: 100%;
    text-align: center;
}

.ftr-bottom p {
    text-align: center;
}

.ftr-bottom a {
    text-decoration: none;
    color: orange;
}

.ftr-bottom a:hover {
    color: white;
}

@media screen and (min-width: 768px) {
    .ftr-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .ftr-contact-social ul li {
        margin-right: .8rem;
    }
}